{% load static %}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>
            <div class="dropdown">
                   <button class="btn btn-dark btn-lg dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Authontication
                   </button>
               
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout' %}" ><i class="fa fa-lock"></i> Logout</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}"><i class="fa fa-lock"></i> Login</a>
                 {% endif %} 

                </div>
            </div>


            <div class="dropdown">
                <button class="btn btn-dark btn-lg dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 School Students
                </button>
            
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'classes' %}"></i>Class</a>
                <a class="dropdown-item" href="{% url 'admission_student' %}"></i>Admission Student</a>
             </div>
           </div>
           <div class="dropdown">
            <button class="btn btn-dark btn-lg dropdown-toggle" type="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Accounts
            </button>
        
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'select_month' %}"></i>Add Student Fees</a>
            <a class="dropdown-item" href="">Fee Status </a>
         </div>
       </div>
       
        </ul>
        
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        

    {% block sidebar %}

    {% endblock %}
</div>